/* Base Styles ----------------*/

body {
  color: #878787;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f4f0f5;
}

h1 {
  color: #878787;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: 3rem;
  text-shadow: 1px 1px rgb(151, 176, 202);
}

nav ul {
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

/* main {
  margin-left: 1em;
  margin-right: 1em;
} */

footer {
  margin: 1em;
}

/* Pseudo-Classes -----------------*/

a:link {
  color: #878787;
  text-decoration: none;
}

a:visited {
  color: lightcoral;
}

a:hover {
  color: lightseagreen;
}

a:active {
  color: blue;
}

/* Main Styles -----------------*/

.main-header {
  padding: 1em 1em 3em 1em;
}

/* Layout Styles -----------------*/

#intro {
  font-size: 2rem;
  background: #af94b8;
  margin-top 0;
  border: 0;
  color: white;
}

#intro p {
  margin: 1em;
}

#about {
  padding-top: 0;
  margin: 1em;
}

#projects {
  border-top: 2px solid #878787;
  margin: 1em;
}

#contact {
  border-bottom: 2px solid #878787;
  border-top: 2px solid #878787;
  margin: 1em;
}

.icon {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

/* Floated Columns -----------------*/

/* Float Clearfix ------------------ */

.group:after {
  clear: both;
  content: "";
  display: table;
}

/* Media Queries -----------------*/
@media screen and (min-width: 480px) {
  .main-header {
    padding: 2em 2em 3em 2em;
  }
  h1 {
    font-size: 5rem;
  }
  main {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .nav-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  nav {
    width: 20em;
  }
}
