/* Base Styles ----------------*/

body {
  color: #878787;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  color: white;
  margin-bottom: 0;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

main {
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  margin: 2em;
}

/* Pseudo-Classes -----------------*/

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: lightcoral;
}

a:hover {
  color: lightseagreen;
}

a:active {
  color: blue;
}

/* Main Styles -----------------*/

.main-header {
  background-color: darkslateblue;
  background-size: cover;
  padding: 1em 1em 3em 1em;
  background-image: linear-gradient(darkslateblue, white);
}

.header-title {
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 5px;
}

/* Layout Styles -----------------*/

#about {
  padding-top: 30px;
}

#projects {
  border-top: 2px solid #878787;
}

#contact {
  border-bottom: 2px solid #878787;
  border-top: 2px solid #878787;
}

.icon {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

/* Floated Columns -----------------*/

/* Float Clearfix ------------------ */

.group:after {
  clear: both;
  content: "";
  display: table;
}

/* Media Queries -----------------*/
@media screen and (min-width: 480px) {
  .main-header {
    padding: 2em 2em 3em 2em;
  }
  main {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .nav-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  nav {
    width: 20em;
  }
}
